USE [SGFRenaissance]
GO
/****** Object:  Table [dbo].[Baixa_Titulos_a_Pagar_Pagamentos]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Baixa_Titulos_a_Pagar_Pagamentos](
	[Cod_Baixa_Titulos_a_Pagar] [int] IDENTITY(1,1) NOT NULL,
	[Data_Pagamento] [datetime] NULL,
	[Cod_Banco_Debitado] [int] NULL,
	[Numero_Cheque] [varchar](15) NULL,
	[Total_Pago] [decimal](18, 0) NULL,
	[Numero_Titulos_Pagos] [numeric](3, 0) NULL,
	[Historico_Pagamentos] [varchar](100) NULL,
	[Observacao] [varchar](100) NULL,
	[Data_Login] [datetime] NULL,
	[Login_Name] [varchar](15) NULL,
 CONSTRAINT [PK_Baixa_Titulos_a_Pagar_Pagamentos] PRIMARY KEY CLUSTERED 
(
	[Cod_Baixa_Titulos_a_Pagar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Baixa_Titulos_a_Receber]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Baixa_Titulos_a_Receber](
	[Cod_Baixa_Titulo_Recebido] [int] IDENTITY(1,1) NOT NULL,
	[Cod_Cliente] [int] NULL,
	[Numero_NF] [varchar](20) NULL,
	[Data_Pagamento] [datetime] NULL,
	[Valor_NF] [float] NULL,
	[Acrescimos] [float] NULL,
	[Descontos] [float] NULL,
	[Total_Pago] [float] NULL,
	[Creditar_Banco] [int] NULL,
	[Historico] [varchar](100) NULL,
	[Cod_Receita] [int] NULL,
	[Numero_Parcela] [numeric](3, 0) NULL,
	[Data_Login] [datetime] NULL,
	[Login_Name] [varchar](15) NULL,
 CONSTRAINT [PK_Baixa_Titulos_a_Receber] PRIMARY KEY CLUSTERED 
(
	[Cod_Baixa_Titulo_Recebido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Bancos]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bancos](
	[Cod_Banco] [int] IDENTITY(1,1) NOT NULL,
	[Nome_Banco] [varchar](50) NULL,
	[Numero_Conta] [varchar](20) NULL,
	[Agencia] [varchar](20) NULL,
	[Numero_Banco] [numeric](6, 0) NULL,
	[Saldo] [decimal](18, 2) NULL,
	[Endereco] [varchar](50) NULL,
	[Bairro] [varchar](50) NULL,
	[Municipio] [varchar](50) NULL,
	[Estado] [varchar](2) NULL,
	[Telefone_1] [varchar](15) NULL,
	[Telefone_2] [varchar](15) NULL,
	[Contato] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[data_cadastro] [datetime] NULL,
	[Data_Login] [datetime] NULL,
	[Login_Name] [varchar](15) NULL,
 CONSTRAINT [PK_Bancos_1] PRIMARY KEY CLUSTERED 
(
	[Cod_Banco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Base_Parcelas_Pagas]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Base_Parcelas_Pagas](
	[Cod_Base_Titulos_Pagos] [int] NOT NULL,
	[Cod_Titulo_a_Pagar] [int] NOT NULL,
	[Cod_Numero_Parc_a_Pagar] [int] NOT NULL,
	[Cod_Fornecedor] [int] NULL,
	[Numero_Documento] [varchar](50) NULL,
	[Numero_Parcela] [int] NULL,
	[Valor_Titulo] [decimal](18, 2) NULL,
	[Data_Documento] [datetime] NULL,
	[Data_Pagamento] [datetime] NULL,
	[Data_Venc_Parcela] [datetime] NULL,
	[Cod_Centro_Custos] [int] NULL,
	[Cod_Despesa] [int] NULL,
	[Valor_Pago_a_Vista] [decimal](18, 2) NULL,
	[Valor_Pago] [decimal](18, 2) NULL,
	[Numero_banco] [int] NULL,
	[Numero_cheque] [varchar](25) NULL,
	[Acrescimos] [decimal](18, 2) NULL,
	[Descontos] [decimal](18, 2) NULL,
	[Saldo] [decimal](18, 2) NULL,
	[StatusTitulo] [int] NULL,
	[Historico] [varchar](200) NULL,
	[Historico_Titulo] [varchar](200) NULL,
 CONSTRAINT [PK_Base_Parcelas_Pagas] PRIMARY KEY CLUSTERED 
(
	[Cod_Numero_Parc_a_Pagar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Base_Parcelas_Recebidas]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Base_Parcelas_Recebidas](
	[Cod_Base_Titulos_a_Recebidos] [int] NOT NULL,
	[Cod_Entrada_Titulos_a_Receber] [int] NOT NULL,
	[Cod_Numero_Parcelas_Receber] [int] NOT NULL,
	[Cod_Cliente] [int] NULL,
	[Numero_Documento] [varchar](50) NULL,
	[Numero_Parcela] [int] NULL,
	[Valor_Titulo] [decimal](18, 2) NULL,
	[Valor_Pago_a_Vista] [decimal](18, 2) NULL,
	[Data_Documento] [datetime] NULL,
	[Data_Recebimento] [datetime] NULL,
	[Data_Venc_Parcela] [datetime] NULL,
	[Numero_Banco] [int] NULL,
	[Cod_Receita] [int] NULL,
	[Valor_Recebido] [decimal](18, 2) NULL,
	[Acrescimos] [decimal](18, 2) NULL,
	[Desconto] [decimal](18, 2) NULL,
	[Saldo] [decimal](18, 2) NULL,
	[Status_Titulo_a_Receber] [int] NULL,
	[Historico_Titulo] [varchar](200) NULL,
	[Historico_Parcela] [varchar](200) NULL,
 CONSTRAINT [PK_Base_Parcelas_Recebidas] PRIMARY KEY CLUSTERED 
(
	[Cod_Numero_Parcelas_Receber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Base_Titulos_Pagos]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Base_Titulos_Pagos](
	[Cod_Base_Titulos_Pagos] [int] IDENTITY(1,1) NOT NULL,
	[Data_Pagamento] [datetime] NULL,
	[Total_Pago] [decimal](18, 2) NULL,
	[Banco_Debitado] [int] NULL,
	[Numero_Cheque] [varchar](15) NULL,
	[Historico] [varchar](250) NULL,
	[Data_Login] [datetime] NULL,
	[Login_Name] [varchar](15) NULL,
 CONSTRAINT [PK_Base_Titulos_Pagos_1] PRIMARY KEY CLUSTERED 
(
	[Cod_Base_Titulos_Pagos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Base_Titulos_Recebidos]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Base_Titulos_Recebidos](
	[Cod_Base_Titulos_a_Recebidos] [int] IDENTITY(1,1) NOT NULL,
	[Data_Recebimento] [datetime] NULL,
	[Total_Recebido] [decimal](18, 2) NULL,
	[Banco_Creditado] [int] NULL,
	[Historico] [varchar](200) NULL,
	[Data_Login] [datetime] NULL,
	[Login_Name] [varchar](15) NULL,
 CONSTRAINT [PK_Base_Titulos_Recebidos] PRIMARY KEY CLUSTERED 
(
	[Cod_Base_Titulos_a_Recebidos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Centro_Custos]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Centro_Custos](
	[Cod_Centro_Custos] [int] IDENTITY(1,1) NOT NULL,
	[Descricao_Centro_Custos] [varchar](50) NULL,
	[Data_Login] [datetime] NULL,
	[Login_Name] [varchar](15) NULL,
 CONSTRAINT [PK_Centro_Custos] PRIMARY KEY CLUSTERED 
(
	[Cod_Centro_Custos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Clientes_Contas_a_Receber]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clientes_Contas_a_Receber](
	[Cod_Cliente_Contas_a_Receber] [int] IDENTITY(1,1) NOT NULL,
	[Nome_Cliente] [varchar](50) NULL,
	[Endereço_Cliente] [varchar](50) NULL,
	[Bairro_Cliente] [varchar](50) NULL,
	[Municipio_Cliente] [varchar](50) NULL,
	[Estado] [varchar](2) NULL,
	[Telefone] [varchar](15) NULL,
	[Celular] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[CNPJ] [varchar](18) NULL,
	[Identificacao] [varchar](25) NULL,
	[Status] [int] NULL,
	[Data_Login] [datetime] NULL,
	[Login_Name] [varchar](15) NULL,
	[Cod_Grupo] [int] NULL,
 CONSTRAINT [PK_Clientes_Contas_a_Receber] PRIMARY KEY CLUSTERED 
(
	[Cod_Cliente_Contas_a_Receber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Contas_Despesas]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contas_Despesas](
	[Cod_Despesa] [int] IDENTITY(1,1) NOT NULL,
	[Descricao_Despesa] [varchar](50) NULL,
	[Codigo_Despesa_Contab] [numeric](12, 0) NULL,
	[Tipo_Despesa] [varchar](50) NULL,
	[Data_Login] [datetime] NULL,
	[Login_Name] [varchar](15) NULL,
 CONSTRAINT [PK_Contas_Despesas] PRIMARY KEY CLUSTERED 
(
	[Cod_Despesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Entrada_Titulos_a_Pagar]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Entrada_Titulos_a_Pagar](
	[Cod_Entrada_Titulos_a_Pagar] [int] IDENTITY(1,1) NOT NULL,
	[Cod_Fornecedor] [int] NULL,
	[Numero_Documento] [varchar](50) NULL,
	[Data_Documento] [datetime] NULL,
	[Data_Vencimento] [datetime] NULL,
	[Valor_Titulo] [decimal](18, 2) NULL,
	[Valor_Pago_a_Vista] [decimal](18, 2) NULL,
	[Acrescimos] [decimal](18, 2) NULL,
	[Descontos] [decimal](18, 2) NULL,
	[Saldo] [decimal](18, 2) NULL,
	[Numero_Parcelas] [int] NULL,
	[Cod_Centro_Custos] [int] NULL,
	[Cod_Status_Titulo] [int] NULL,
	[Cod_Despesa] [int] NULL,
	[Historico_Titulo] [varchar](200) NULL,
	[Observacao] [varchar](100) NULL,
	[Data_Login] [datetime] NULL,
	[Login_Name] [varchar](15) NULL,
 CONSTRAINT [PK_Entrada_Titulos_a_Pagar] PRIMARY KEY CLUSTERED 
(
	[Cod_Entrada_Titulos_a_Pagar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Entrada_Titulos_a_Receber]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Entrada_Titulos_a_Receber](
	[Cod_Entrada_Titulos_a_Receber] [int] IDENTITY(1,1) NOT NULL,
	[Cod_Cliente] [int] NULL,
	[Numero_NF] [varchar](20) NULL,
	[Data_NF] [datetime] NULL,
	[Valor_NF] [decimal](18, 2) NULL,
	[Cod_Receita] [int] NULL,
	[Data_Vencimento] [datetime] NULL,
	[Numero_Parcelas] [numeric](3, 0) NULL,
	[Valor_Pago_a_Vista] [decimal](18, 2) NULL,
	[Cod_Status_Titulo] [int] NULL,
	[Codigo_CV] [int] NULL,
	[Historico] [varchar](200) NULL,
	[Data_Login] [datetime] NULL,
	[Login_Name] [varchar](15) NULL,
 CONSTRAINT [PK_Entrada_Titulos_a_Receber] PRIMARY KEY CLUSTERED 
(
	[Cod_Entrada_Titulos_a_Receber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Fornecedor_Contas_a_Pagar]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Fornecedor_Contas_a_Pagar](
	[Cod_Fornecedor] [int] IDENTITY(1,1) NOT NULL,
	[Nome_Fornecedor] [varchar](50) NULL,
	[Endereco] [varchar](50) NULL,
	[Bairro] [varchar](50) NULL,
	[Cidade] [varchar](50) NULL,
	[Estado] [nchar](2) NULL,
	[CEP] [nchar](10) NULL,
	[Telefone_1] [varchar](15) NULL,
	[Telefone_2] [varchar](15) NULL,
	[Celular] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[CNPJ] [varchar](18) NULL,
	[Cod_Status_Fornecedor] [int] NULL,
	[Data_Cadastro] [datetime] NULL,
	[Inscricao_Estadual] [varchar](18) NULL,
	[CPF] [varchar](14) NULL,
	[Identificacao] [varchar](25) NULL,
	[Data_Login] [datetime] NULL,
	[Login_Name] [varchar](15) NULL,
 CONSTRAINT [PK_Fornecedor_Contas_a_Pagar] PRIMARY KEY CLUSTERED 
(
	[Cod_Fornecedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Grupo]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Grupo](
	[Cod_Grupo] [int] IDENTITY(1,1) NOT NULL,
	[Grupo_Descricao] [varchar](20) NULL,
	[Data_Login] [datetime] NULL,
	[Login_Name] [varchar](15) NULL,
 CONSTRAINT [PK_Grupo] PRIMARY KEY CLUSTERED 
(
	[Cod_Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Itens_Pgtos_Baixa_Titulos_a_Pagar]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Itens_Pgtos_Baixa_Titulos_a_Pagar](
	[Cod_Baixa_Titulos_a_Pagar] [int] IDENTITY(1,1) NOT NULL,
	[Cod_Itens_Titulos_a_Pagar] [int] NOT NULL,
	[Cod_Fornecedor] [int] NULL,
	[Documento] [varchar](20) NULL,
	[Data_Pagamento] [datetime] NULL,
	[Valor_Titulo] [decimal](18, 0) NULL,
	[Acrescimos] [decimal](18, 0) NULL,
	[Descontos] [decimal](18, 0) NULL,
	[Total_Pago] [decimal](18, 0) NULL,
	[Historico_Titulo] [varchar](100) NULL,
	[Cod_Status_Titulo] [int] NULL,
	[Numero_Parcela] [numeric](3, 0) NULL,
	[Data_Vencimento] [datetime] NULL,
 CONSTRAINT [PK_Itens_Pgtos_Baixa_Titulos_a_Pagar] PRIMARY KEY CLUSTERED 
(
	[Cod_Baixa_Titulos_a_Pagar] ASC,
	[Cod_Itens_Titulos_a_Pagar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Lancamentos]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Lancamentos](
	[Cod_Lancamento] [int] IDENTITY(1,1) NOT NULL,
	[Cod_Operacao] [int] NULL,
	[Cod_Base_Tit_Pagos] [int] NULL,
	[Cod_Base_Tit_Recebidos] [int] NULL,
	[Cod_Banco] [int] NULL,
	[Numero_Conta] [varchar](15) NULL,
	[Numero_Chque] [varchar](20) NULL,
	[Data_Lancamento] [datetime] NULL,
	[Descricao_Operacao] [varchar](250) NULL,
	[Recebimento_Titulos] [decimal](18, 2) NULL,
	[Pagamento_Titulos] [decimal](18, 2) NULL,
	[Valor_Movimento] [decimal](18, 2) NULL,
	[Saldo_Anterior] [decimal](18, 2) NULL,
	[Saldo] [decimal](18, 2) NULL,
	[Data_Login] [datetime] NULL,
	[Login_Name] [varchar](15) NULL,
 CONSTRAINT [PK_Lancamentos] PRIMARY KEY CLUSTERED 
(
	[Cod_Lancamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Numero_Parcelas_a_Pagar]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Numero_Parcelas_a_Pagar](
	[Cod_Numero_Parcelas_a_Pagar] [int] IDENTITY(1,1) NOT NULL,
	[Cod_Entrada_Titulos_a_Pagar] [int] NULL,
	[Numero_Parcela] [numeric](3, 0) NULL,
	[Data_Vencimento] [datetime] NULL,
	[Valor_Parcela] [decimal](18, 2) NULL,
	[Historico] [varchar](200) NULL,
	[Cod_Status_Titulo] [int] NULL,
 CONSTRAINT [PK_Numero_Parcelas_a_Pagar_1] PRIMARY KEY CLUSTERED 
(
	[Cod_Numero_Parcelas_a_Pagar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Numero_Parcelas_a_Receber]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Numero_Parcelas_a_Receber](
	[Cod_Numero_Parcelas_Receber] [int] IDENTITY(1,1) NOT NULL,
	[Cod_Entrada_Titulos_a_Receber] [int] NOT NULL,
	[Numero_Parcela] [int] NULL,
	[Data_Vencimento] [date] NULL,
	[Valor_Parcela] [decimal](18, 2) NULL,
	[Historico] [varchar](200) NULL,
	[Cod_Status_Titulo] [int] NULL,
 CONSTRAINT [PK_Numero_Parcelas_a_Receber_1] PRIMARY KEY CLUSTERED 
(
	[Cod_Numero_Parcelas_Receber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Operacao]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Operacao](
	[Cod_Operacao] [int] IDENTITY(1,1) NOT NULL,
	[Descricao_Op] [varchar](65) NULL,
	[Nome_Login] [varchar](25) NULL,
	[Data_Login] [datetime] NULL,
 CONSTRAINT [PK__Operacao__6BF4D4C33DD636D9] PRIMARY KEY CLUSTERED 
(
	[Cod_Operacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pesquisa_Por_Nome]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pesquisa_Por_Nome](
	[Cod_Pesquisa] [int] IDENTITY(1,1) NOT NULL,
	[Primeiro_Nome] [varchar](20) NULL,
	[Ultimo_Nome] [varchar](20) NULL,
 CONSTRAINT [PK_Pesquisa_Por_Nome] PRIMARY KEY CLUSTERED 
(
	[Cod_Pesquisa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Status_Fornecedor_Cliente]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Status_Fornecedor_Cliente](
	[Cod_Status_Fornecedor] [int] IDENTITY(1,1) NOT NULL,
	[Descricao_Status] [varchar](20) NULL,
	[Data_Login] [datetime] NULL,
	[Login_Name] [varchar](15) NULL,
 CONSTRAINT [PK_Status_Fornecedor] PRIMARY KEY CLUSTERED 
(
	[Cod_Status_Fornecedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Status_Titulo]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Status_Titulo](
	[Cod_Status_Titulo] [int] IDENTITY(1,1) NOT NULL,
	[Descricao_Status_Titulo] [varchar](20) NULL,
	[Data_Login] [datetime] NULL,
	[Login_Name] [varchar](15) NULL,
 CONSTRAINT [PK_Status_Titulo] PRIMARY KEY CLUSTERED 
(
	[Cod_Status_Titulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Status_Titulos_a_Receber]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Status_Titulos_a_Receber](
	[Codigo_Status_Tit_a_Receber] [int] IDENTITY(1,1) NOT NULL,
	[Descricao_Status] [varchar](25) NULL,
	[data_login] [datetime] NULL,
	[login_name] [varchar](25) NULL,
 CONSTRAINT [PK_Status_Titulos_a_Receber] PRIMARY KEY CLUSTERED 
(
	[Codigo_Status_Tit_a_Receber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tipos_Acesso]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tipos_Acesso](
	[Cod_acesso] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](25) NULL,
	[Nome_Login] [varchar](15) NULL,
	[Data_Login] [datetime] NULL,
 CONSTRAINT [PK_Tipos_Acesso] PRIMARY KEY CLUSTERED 
(
	[Cod_acesso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tipos_Receita]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tipos_Receita](
	[Codigo_Tipo_Receita] [int] IDENTITY(1,1) NOT NULL,
	[Descricao_Receita] [varchar](50) NULL,
	[codigo_contabilidade] [varchar](20) NULL,
	[data_login] [datetime] NULL,
	[login_name] [varchar](25) NULL,
 CONSTRAINT [PK_Tipos_Receita] PRIMARY KEY CLUSTERED 
(
	[Codigo_Tipo_Receita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Transferencias]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Transferencias](
	[Cod_Transferencia] [int] IDENTITY(1,1) NOT NULL,
	[Documento] [varchar](25) NULL,
	[Data] [datetime] NULL,
	[Descricao_Operacao] [varchar](50) NULL,
	[Valor_Movimento] [float] NULL,
	[Conta_Origem_Banco] [int] NULL,
	[Nome_Banco_Origem] [varchar](50) NULL,
	[Numero_Conta_Origem] [varchar](15) NULL,
	[Conta_Destino_Banco] [int] NULL,
	[Nome_Banco_Destino] [varchar](50) NULL,
	[Numero_Conta_Destino] [varchar](15) NULL,
	[Data_Login] [datetime] NULL,
	[Login_Name] [varchar](15) NULL,
 CONSTRAINT [PK_Transferencias] PRIMARY KEY CLUSTERED 
(
	[Cod_Transferencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Cod_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nome_Usuario] [varchar](50) NULL,
	[Login_Name] [varchar](15) NULL,
	[Senha_Usuario] [varchar](10) NULL,
	[Codigo_Acesso] [int] NULL,
	[Data_Login] [datetime] NULL,
	[Nome_Login] [varchar](15) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Cod_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Validade_Pagamentos]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Validade_Pagamentos](
	[Cod_Senha_Pgto] [int] IDENTITY(1,1) NOT NULL,
	[Senha_PGTO] [varchar](8) NULL,
	[data_validade] [datetime] NULL,
 CONSTRAINT [PK_Validade_Pagamentos] PRIMARY KEY CLUSTERED 
(
	[Cod_Senha_Pgto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Bancos] ON 

INSERT [dbo].[Bancos] ([Cod_Banco], [Nome_Banco], [Numero_Conta], [Agencia], [Numero_Banco], [Saldo], [Endereco], [Bairro], [Municipio], [Estado], [Telefone_1], [Telefone_2], [Contato], [email], [data_cadastro], [Data_Login], [Login_Name]) VALUES (3, N'Banco Bradesco S/A', N'226046-8', N'551', CAST(237 AS Numeric(6, 0)), CAST(856.74 AS Decimal(18, 2)), N'Rua Ataulfo de Paiva, 983', N'Leblon', N'Rio de Janeiro', N'RJ', N'3003-8018', NULL, N'Vinícius', N'0551.gerencia@bradesco.com.br', CAST(N'2020-03-25 00:00:00.000' AS DateTime), CAST(N'2020-11-30 14:46:08.370' AS DateTime), N'Flavio')
SET IDENTITY_INSERT [dbo].[Bancos] OFF
SET IDENTITY_INSERT [dbo].[Base_Titulos_Pagos] ON 

INSERT [dbo].[Base_Titulos_Pagos] ([Cod_Base_Titulos_Pagos], [Data_Pagamento], [Total_Pago], [Banco_Debitado], [Numero_Cheque], [Historico], [Data_Login], [Login_Name]) VALUES (1094, CAST(N'2000-09-12 00:00:00.000' AS DateTime), CAST(1248.57 AS Decimal(18, 2)), 3, N'DOC', N'Frete Azul - SP X RIO - Material Empenho', CAST(N'2020-09-19 12:27:21.307' AS DateTime), N'Flavio')
INSERT [dbo].[Base_Titulos_Pagos] ([Cod_Base_Titulos_Pagos], [Data_Pagamento], [Total_Pago], [Banco_Debitado], [Numero_Cheque], [Historico], [Data_Login], [Login_Name]) VALUES (1095, CAST(N'2000-08-21 00:00:00.000' AS DateTime), CAST(242.55 AS Decimal(18, 2)), 3, N'Transf.Bruna', N'Pagamento JAMEF - Frete SPXRJ', CAST(N'2020-09-19 12:47:26.260' AS DateTime), N'Flavio')
INSERT [dbo].[Base_Titulos_Pagos] ([Cod_Base_Titulos_Pagos], [Data_Pagamento], [Total_Pago], [Banco_Debitado], [Numero_Cheque], [Historico], [Data_Login], [Login_Name]) VALUES (1096, CAST(N'2000-09-14 00:00:00.000' AS DateTime), CAST(16486.48 AS Decimal(18, 2)), 3, N'Transf.Daniella', N'Pagamento Ortosintese - Material Empenho ', CAST(N'2020-09-19 12:55:17.893' AS DateTime), N'Flavio')
SET IDENTITY_INSERT [dbo].[Base_Titulos_Pagos] OFF
SET IDENTITY_INSERT [dbo].[Base_Titulos_Recebidos] ON 

INSERT [dbo].[Base_Titulos_Recebidos] ([Cod_Base_Titulos_a_Recebidos], [Data_Recebimento], [Total_Recebido], [Banco_Creditado], [Historico], [Data_Login], [Login_Name]) VALUES (60, CAST(N'2020-08-20 12:07:26.323' AS DateTime), CAST(77142.00 AS Decimal(18, 2)), 1, N'Pagamento N.F. Bonsucesso - Banco do Brasil -', CAST(N'2020-08-20 00:00:00.000' AS DateTime), N'Flavio')
INSERT [dbo].[Base_Titulos_Recebidos] ([Cod_Base_Titulos_a_Recebidos], [Data_Recebimento], [Total_Recebido], [Banco_Creditado], [Historico], [Data_Login], [Login_Name]) VALUES (61, CAST(N'2020-08-20 12:12:39.187' AS DateTime), CAST(12982.50 AS Decimal(18, 2)), 3, N'Pagamento N.F. Bonsucesso - Banco Bradesco - 20/08/2020', CAST(N'2020-08-20 00:00:00.000' AS DateTime), N'Flavio')
INSERT [dbo].[Base_Titulos_Recebidos] ([Cod_Base_Titulos_a_Recebidos], [Data_Recebimento], [Total_Recebido], [Banco_Creditado], [Historico], [Data_Login], [Login_Name]) VALUES (62, CAST(N'2020-08-24 07:49:17.000' AS DateTime), CAST(3290.00 AS Decimal(18, 2)), 3, N'Nota Fiscal referente a Cirurgia de Trauma - HFA', CAST(N'2020-08-27 00:00:00.000' AS DateTime), N'Flavio')
SET IDENTITY_INSERT [dbo].[Base_Titulos_Recebidos] OFF
SET IDENTITY_INSERT [dbo].[Centro_Custos] ON 

INSERT [dbo].[Centro_Custos] ([Cod_Centro_Custos], [Descricao_Centro_Custos], [Data_Login], [Login_Name]) VALUES (1, N'Administração Geral', CAST(N'2018-09-22 11:19:05.000' AS DateTime), N'Flavio')
INSERT [dbo].[Centro_Custos] ([Cod_Centro_Custos], [Descricao_Centro_Custos], [Data_Login], [Login_Name]) VALUES (2, N'Produção / Operacional', CAST(N'2018-08-27 23:25:32.000' AS DateTime), N'Flavio')
INSERT [dbo].[Centro_Custos] ([Cod_Centro_Custos], [Descricao_Centro_Custos], [Data_Login], [Login_Name]) VALUES (3, N'Vendas - Ortopedia', CAST(N'2018-08-27 23:26:10.000' AS DateTime), N'Flavio')
SET IDENTITY_INSERT [dbo].[Centro_Custos] OFF
SET IDENTITY_INSERT [dbo].[Clientes_Contas_a_Receber] ON 

INSERT [dbo].[Clientes_Contas_a_Receber] ([Cod_Cliente_Contas_a_Receber], [Nome_Cliente], [Endereço_Cliente], [Bairro_Cliente], [Municipio_Cliente], [Estado], [Telefone], [Celular], [Email], [CNPJ], [Identificacao], [Status], [Data_Login], [Login_Name], [Cod_Grupo]) VALUES (7, N'Hospital Federal de Bonsucesso', N'Av. Londres 616, 4º Andar   - Cep: 21041-000', N'Bonsucesso', N'Rio de Janeiro', N'RJ', N'(21)3977-9551', NULL, NULL, N'00.394.544/0202-91', NULL, 1, CAST(N'2020-04-03 16:52:30.000' AS DateTime), N'Flavio', 2)
INSERT [dbo].[Clientes_Contas_a_Receber] ([Cod_Cliente_Contas_a_Receber], [Nome_Cliente], [Endereço_Cliente], [Bairro_Cliente], [Municipio_Cliente], [Estado], [Telefone], [Celular], [Email], [CNPJ], [Identificacao], [Status], [Data_Login], [Login_Name], [Cod_Grupo]) VALUES (1007, N'Hospital Federal do Andaraí ', N'Rua Gastão Penalva, 119 - Cep:20540-220', N'Andaraí', N'Rio de Janeiro', N'RJ', N'2575-7046', NULL, NULL, N'00.394.544/0201-00', NULL, 1, CAST(N'2020-08-18 11:09:13.000' AS DateTime), N'Flavio', 2)
INSERT [dbo].[Clientes_Contas_a_Receber] ([Cod_Cliente_Contas_a_Receber], [Nome_Cliente], [Endereço_Cliente], [Bairro_Cliente], [Municipio_Cliente], [Estado], [Telefone], [Celular], [Email], [CNPJ], [Identificacao], [Status], [Data_Login], [Login_Name], [Cod_Grupo]) VALUES (1008, N'Hospital Federal de Ipanema', N'Rua Antônio Parreiras, 67', N'Ipanema', N'Rio de Janeiro', N'RJ', NULL, NULL, NULL, N'00.394.544/0210-00', N'Hospital de Ipanema', 1, CAST(N'2020-12-04 11:25:44.000' AS DateTime), N'Flavio', 2)
SET IDENTITY_INSERT [dbo].[Clientes_Contas_a_Receber] OFF
SET IDENTITY_INSERT [dbo].[Contas_Despesas] ON 

INSERT [dbo].[Contas_Despesas] ([Cod_Despesa], [Descricao_Despesa], [Codigo_Despesa_Contab], [Tipo_Despesa], [Data_Login], [Login_Name]) VALUES (1, N'Despesa de Aluguel + Condomínio', CAST(1211 AS Numeric(12, 0)), N'Despesa Administrativa', CAST(N'2019-08-16 15:35:18.000' AS DateTime), N'Flavio')
INSERT [dbo].[Contas_Despesas] ([Cod_Despesa], [Descricao_Despesa], [Codigo_Despesa_Contab], [Tipo_Despesa], [Data_Login], [Login_Name]) VALUES (2, N'Desepesa de Telefonia e Internet', CAST(1312 AS Numeric(12, 0)), N'Despesa Administrativa', CAST(N'2019-08-16 15:35:39.000' AS DateTime), N'Flavio')
INSERT [dbo].[Contas_Despesas] ([Cod_Despesa], [Descricao_Despesa], [Codigo_Despesa_Contab], [Tipo_Despesa], [Data_Login], [Login_Name]) VALUES (3, N'Despesa de Combustível - Produção', CAST(1019 AS Numeric(12, 0)), N'Despesa Operacional', CAST(N'2019-08-16 15:26:39.000' AS DateTime), N'Flavio')
SET IDENTITY_INSERT [dbo].[Contas_Despesas] OFF
SET IDENTITY_INSERT [dbo].[Entrada_Titulos_a_Pagar] ON 

SET IDENTITY_INSERT [dbo].[Entrada_Titulos_a_Pagar] OFF
SET IDENTITY_INSERT [dbo].[Entrada_Titulos_a_Receber] ON 

SET IDENTITY_INSERT [dbo].[Entrada_Titulos_a_Receber] OFF
SET IDENTITY_INSERT [dbo].[Fornecedor_Contas_a_Pagar] ON 

INSERT [dbo].[Fornecedor_Contas_a_Pagar] ([Cod_Fornecedor], [Nome_Fornecedor], [Endereco], [Bairro], [Cidade], [Estado], [CEP], [Telefone_1], [Telefone_2], [Celular], [Email], [CNPJ], [Cod_Status_Fornecedor], [Data_Cadastro], [Inscricao_Estadual], [CPF], [Identificacao], [Data_Login], [Login_Name]) VALUES (12, N'Jamef Transportes EIRELI - SAO', N'Rua Miguel Mentem, 600', N'Vila Guilherme', N'São Paulo ', N'SP', N'02050-010 ', N'1121216161', NULL, NULL, NULL, N'20.147.617/0022-76', NULL, NULL, N'114387171114', NULL, N'JAMEF', CAST(N'2020-08-18 11:16:28.000' AS DateTime), N'Flavio')
INSERT [dbo].[Fornecedor_Contas_a_Pagar] ([Cod_Fornecedor], [Nome_Fornecedor], [Endereco], [Bairro], [Cidade], [Estado], [CEP], [Telefone_1], [Telefone_2], [Celular], [Email], [CNPJ], [Cod_Status_Fornecedor], [Data_Cadastro], [Inscricao_Estadual], [CPF], [Identificacao], [Data_Login], [Login_Name]) VALUES (13, N'Azul Linhas Aéreas Brasileiras S.A.', N'Rodovia Santos Dumont S/N.', N'Parque Viracopos', N'Campinas', N'SP', N'13052-448 ', NULL, NULL, NULL, NULL, N'09.296.295/0002-40', NULL, NULL, N'206265026118', NULL, N'AZUL ', CAST(N'2020-08-18 11:21:34.000' AS DateTime), N'Flavio')
SET IDENTITY_INSERT [dbo].[Fornecedor_Contas_a_Pagar] OFF
SET IDENTITY_INSERT [dbo].[Grupo] ON 

INSERT [dbo].[Grupo] ([Cod_Grupo], [Grupo_Descricao], [Data_Login], [Login_Name]) VALUES (2, N'Hospital Público', CAST(N'2018-11-02 20:46:41.000' AS DateTime), N'Flavio')
INSERT [dbo].[Grupo] ([Cod_Grupo], [Grupo_Descricao], [Data_Login], [Login_Name]) VALUES (3, N'Hospital Privado', CAST(N'2018-08-27 23:27:53.000' AS DateTime), N'Flavio')
INSERT [dbo].[Grupo] ([Cod_Grupo], [Grupo_Descricao], [Data_Login], [Login_Name]) VALUES (4, N'Plano de Saúde', CAST(N'2018-08-27 23:28:14.000' AS DateTime), N'Flavio')
SET IDENTITY_INSERT [dbo].[Grupo] OFF
SET IDENTITY_INSERT [dbo].[Lancamentos] ON 

SET IDENTITY_INSERT [dbo].[Lancamentos] OFF
SET IDENTITY_INSERT [dbo].[Numero_Parcelas_a_Pagar] ON 

INSERT [dbo].[Numero_Parcelas_a_Pagar] ([Cod_Numero_Parcelas_a_Pagar], [Cod_Entrada_Titulos_a_Pagar], [Numero_Parcela], [Data_Vencimento], [Valor_Parcela], [Historico], [Cod_Status_Titulo]) VALUES (150, 1074, CAST(5 AS Numeric(3, 0)), CAST(N'2020-12-30 10:53:54.000' AS DateTime), CAST(1500.00 AS Decimal(18, 2)), N'5ª parcela repactuação de dívida aluguel - Marcelo Araújo Advogado', 1)
INSERT [dbo].[Numero_Parcelas_a_Pagar] ([Cod_Numero_Parcelas_a_Pagar], [Cod_Entrada_Titulos_a_Pagar], [Numero_Parcela], [Data_Vencimento], [Valor_Parcela], [Historico], [Cod_Status_Titulo]) VALUES (151, 1074, CAST(6 AS Numeric(3, 0)), CAST(N'2021-01-31 10:53:54.000' AS DateTime), CAST(1500.00 AS Decimal(18, 2)), N'6ª parcela repactuação de dívida aluguel - Marcelo Araújo Advogado', 1)
INSERT [dbo].[Numero_Parcelas_a_Pagar] ([Cod_Numero_Parcelas_a_Pagar], [Cod_Entrada_Titulos_a_Pagar], [Numero_Parcela], [Data_Vencimento], [Valor_Parcela], [Historico], [Cod_Status_Titulo]) VALUES (152, 1074, CAST(7 AS Numeric(3, 0)), CAST(N'2021-02-28 10:53:54.000' AS DateTime), CAST(1500.00 AS Decimal(18, 2)), N'7ª parcela repactuação de dívida aluguel - Marcelo Araújo Advogado', 1)
SET IDENTITY_INSERT [dbo].[Numero_Parcelas_a_Pagar] OFF
SET IDENTITY_INSERT [dbo].[Numero_Parcelas_a_Receber] ON 

INSERT [dbo].[Numero_Parcelas_a_Receber] ([Cod_Numero_Parcelas_Receber], [Cod_Entrada_Titulos_a_Receber], [Numero_Parcela], [Data_Vencimento], [Valor_Parcela], [Historico], [Cod_Status_Titulo]) VALUES (1019, 2058, 1, CAST(N'2020-11-17' AS Date), CAST(17060.00 AS Decimal(18, 2)), N'Nota Fiscal Material Trauma - Empenho 2020NE800333', 1)
INSERT [dbo].[Numero_Parcelas_a_Receber] ([Cod_Numero_Parcelas_Receber], [Cod_Entrada_Titulos_a_Receber], [Numero_Parcela], [Data_Vencimento], [Valor_Parcela], [Historico], [Cod_Status_Titulo]) VALUES (1020, 2059, 1, CAST(N'2020-11-17' AS Date), CAST(28883.50 AS Decimal(18, 2)), N'Nota Fiscal Material Trauma - Empenho 2020NE800855', 1)
INSERT [dbo].[Numero_Parcelas_a_Receber] ([Cod_Numero_Parcelas_Receber], [Cod_Entrada_Titulos_a_Receber], [Numero_Parcela], [Data_Vencimento], [Valor_Parcela], [Historico], [Cod_Status_Titulo]) VALUES (1021, 2060, 1, CAST(N'2020-12-30' AS Date), CAST(220065.00 AS Decimal(18, 2)), N'Material de Trauma - HFI - Empenho - Data da Entrega:04/12/2020.', 1)
SET IDENTITY_INSERT [dbo].[Numero_Parcelas_a_Receber] OFF
SET IDENTITY_INSERT [dbo].[Operacao] ON 

INSERT [dbo].[Operacao] ([Cod_Operacao], [Descricao_Op], [Nome_Login], [Data_Login]) VALUES (1, N'Crédito / Recebimento Títulos', N'Flavio', CAST(N'2018-11-02 00:00:00.000' AS DateTime))
INSERT [dbo].[Operacao] ([Cod_Operacao], [Descricao_Op], [Nome_Login], [Data_Login]) VALUES (2, N'Saque / Pagamento Títulos / Cheque', N'Flavio', CAST(N'2018-11-02 00:00:00.000' AS DateTime))
INSERT [dbo].[Operacao] ([Cod_Operacao], [Descricao_Op], [Nome_Login], [Data_Login]) VALUES (3, N'Saque - Cheque / Dinheiro/DOC', N'Flavio ', CAST(N'2019-06-14 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Operacao] OFF
SET IDENTITY_INSERT [dbo].[Pesquisa_Por_Nome] ON 

INSERT [dbo].[Pesquisa_Por_Nome] ([Cod_Pesquisa], [Primeiro_Nome], [Ultimo_Nome]) VALUES (1, N'Primeiro Nome', N'Último Nome')
INSERT [dbo].[Pesquisa_Por_Nome] ([Cod_Pesquisa], [Primeiro_Nome], [Ultimo_Nome]) VALUES (2, N'Último Nome', N'Último Nome')
SET IDENTITY_INSERT [dbo].[Pesquisa_Por_Nome] OFF
SET IDENTITY_INSERT [dbo].[Status_Fornecedor_Cliente] ON 

INSERT [dbo].[Status_Fornecedor_Cliente] ([Cod_Status_Fornecedor], [Descricao_Status], [Data_Login], [Login_Name]) VALUES (1, N'Ativo', CAST(N'2018-08-20 00:00:00.000' AS DateTime), N'Flavio')
INSERT [dbo].[Status_Fornecedor_Cliente] ([Cod_Status_Fornecedor], [Descricao_Status], [Data_Login], [Login_Name]) VALUES (2, N'Inativo', CAST(N'2018-08-20 00:00:00.000' AS DateTime), N'Daniella')
SET IDENTITY_INSERT [dbo].[Status_Fornecedor_Cliente] OFF
SET IDENTITY_INSERT [dbo].[Status_Titulo] ON 

INSERT [dbo].[Status_Titulo] ([Cod_Status_Titulo], [Descricao_Status_Titulo], [Data_Login], [Login_Name]) VALUES (1, N'Em Aberto', CAST(N'2018-08-30 00:00:00.000' AS DateTime), N'Flavio')
INSERT [dbo].[Status_Titulo] ([Cod_Status_Titulo], [Descricao_Status_Titulo], [Data_Login], [Login_Name]) VALUES (2, N'Quitado', CAST(N'2018-08-30 00:00:00.000' AS DateTime), N'Daniella')
INSERT [dbo].[Status_Titulo] ([Cod_Status_Titulo], [Descricao_Status_Titulo], [Data_Login], [Login_Name]) VALUES (3, N'Saldo Pendente', CAST(N'2018-08-30 00:00:00.000' AS DateTime), N'Flavio')
SET IDENTITY_INSERT [dbo].[Status_Titulo] OFF
SET IDENTITY_INSERT [dbo].[Status_Titulos_a_Receber] ON 

INSERT [dbo].[Status_Titulos_a_Receber] ([Codigo_Status_Tit_a_Receber], [Descricao_Status], [data_login], [login_name]) VALUES (1, N'Em Aberto', CAST(N'2018-12-24 00:00:00.000' AS DateTime), N'Flavio')
INSERT [dbo].[Status_Titulos_a_Receber] ([Codigo_Status_Tit_a_Receber], [Descricao_Status], [data_login], [login_name]) VALUES (2, N'Quitado', CAST(N'2018-12-24 00:00:00.000' AS DateTime), N'Daniella')
INSERT [dbo].[Status_Titulos_a_Receber] ([Codigo_Status_Tit_a_Receber], [Descricao_Status], [data_login], [login_name]) VALUES (3, N'Saldo Pendente', CAST(N'2018-12-24 00:00:00.000' AS DateTime), N'Flavio')
SET IDENTITY_INSERT [dbo].[Status_Titulos_a_Receber] OFF
SET IDENTITY_INSERT [dbo].[Tipos_Acesso] ON 

INSERT [dbo].[Tipos_Acesso] ([Cod_acesso], [Descricao], [Nome_Login], [Data_Login]) VALUES (1, N'Acesso Geral ', N'Flavio', CAST(N'2018-10-30 17:08:26.000' AS DateTime))
INSERT [dbo].[Tipos_Acesso] ([Cod_acesso], [Descricao], [Nome_Login], [Data_Login]) VALUES (2, N'Acesso a Consultas', N'Flavio', CAST(N'2018-10-30 17:09:18.000' AS DateTime))
INSERT [dbo].[Tipos_Acesso] ([Cod_acesso], [Descricao], [Nome_Login], [Data_Login]) VALUES (3, N'Acesso a Relatórios', N'Flavio', CAST(N'2018-10-30 17:09:57.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tipos_Acesso] OFF
SET IDENTITY_INSERT [dbo].[Tipos_Receita] ON 

INSERT [dbo].[Tipos_Receita] ([Codigo_Tipo_Receita], [Descricao_Receita], [codigo_contabilidade], [data_login], [login_name]) VALUES (1, N'Venda Mercadoria à Vista', N'23456-6', CAST(N'2018-12-24 00:00:00.000' AS DateTime), N'Flavio')
INSERT [dbo].[Tipos_Receita] ([Codigo_Tipo_Receita], [Descricao_Receita], [codigo_contabilidade], [data_login], [login_name]) VALUES (2, N'Venda Mercadoria à Prazo', N'23457-9', CAST(N'2018-12-24 00:00:00.000' AS DateTime), N'Daniella')
INSERT [dbo].[Tipos_Receita] ([Codigo_Tipo_Receita], [Descricao_Receita], [codigo_contabilidade], [data_login], [login_name]) VALUES (3, N'Venda Mercadoria Parcelado', N'23657-0', CAST(N'2018-12-24 00:00:00.000' AS DateTime), N'Flavio')
SET IDENTITY_INSERT [dbo].[Tipos_Receita] OFF
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Cod_Usuario], [Nome_Usuario], [Login_Name], [Senha_Usuario], [Codigo_Acesso], [Data_Login], [Nome_Login]) VALUES (1, N'Flavio Rocha', N'Flavio', N'123', 1, CAST(N'2018-10-30 18:31:28.000' AS DateTime), N'Flavio')
INSERT [dbo].[Usuarios] ([Cod_Usuario], [Nome_Usuario], [Login_Name], [Senha_Usuario], [Codigo_Acesso], [Data_Login], [Nome_Login]) VALUES (2, N'Daniella Seikel', N'Daniella', N'123', 1, CAST(N'2018-10-30 19:26:52.000' AS DateTime), N'Flavio')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
ALTER TABLE [dbo].[Baixa_Titulos_a_Pagar_Pagamentos]  WITH CHECK ADD  CONSTRAINT [FK_Baixa_Titulos_a_Pagar_ItensPagamento] FOREIGN KEY([Cod_Baixa_Titulos_a_Pagar])
REFERENCES [dbo].[Baixa_Titulos_a_Pagar_Pagamentos] ([Cod_Baixa_Titulos_a_Pagar])
GO
ALTER TABLE [dbo].[Baixa_Titulos_a_Pagar_Pagamentos] CHECK CONSTRAINT [FK_Baixa_Titulos_a_Pagar_ItensPagamento]
GO
ALTER TABLE [dbo].[Baixa_Titulos_a_Receber]  WITH CHECK ADD  CONSTRAINT [FK_Baixa_Titulos_a_Receber_Baixa_Bancos] FOREIGN KEY([Creditar_Banco])
REFERENCES [dbo].[Bancos] ([Cod_Banco])
GO
ALTER TABLE [dbo].[Baixa_Titulos_a_Receber] CHECK CONSTRAINT [FK_Baixa_Titulos_a_Receber_Baixa_Bancos]
GO
ALTER TABLE [dbo].[Baixa_Titulos_a_Receber]  WITH CHECK ADD  CONSTRAINT [FK_Baixa_Titulos_a_Receber_Clientes] FOREIGN KEY([Cod_Cliente])
REFERENCES [dbo].[Clientes_Contas_a_Receber] ([Cod_Cliente_Contas_a_Receber])
GO
ALTER TABLE [dbo].[Baixa_Titulos_a_Receber] CHECK CONSTRAINT [FK_Baixa_Titulos_a_Receber_Clientes]
GO
ALTER TABLE [dbo].[Clientes_Contas_a_Receber]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Contas_a_Receber_Grupo] FOREIGN KEY([Cod_Grupo])
REFERENCES [dbo].[Grupo] ([Cod_Grupo])
GO
ALTER TABLE [dbo].[Clientes_Contas_a_Receber] CHECK CONSTRAINT [FK_Clientes_Contas_a_Receber_Grupo]
GO
ALTER TABLE [dbo].[Fornecedor_Contas_a_Pagar]  WITH CHECK ADD  CONSTRAINT [FK_Fornecedor_Contas_a_Pagar_Status_Fornecedor] FOREIGN KEY([Cod_Status_Fornecedor])
REFERENCES [dbo].[Status_Fornecedor_Cliente] ([Cod_Status_Fornecedor])
GO
ALTER TABLE [dbo].[Fornecedor_Contas_a_Pagar] CHECK CONSTRAINT [FK_Fornecedor_Contas_a_Pagar_Status_Fornecedor]
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD  CONSTRAINT [FK_Grupo_Fornecedor] FOREIGN KEY([Cod_Grupo])
REFERENCES [dbo].[Grupo] ([Cod_Grupo])
GO
ALTER TABLE [dbo].[Grupo] CHECK CONSTRAINT [FK_Grupo_Fornecedor]
GO
ALTER TABLE [dbo].[Itens_Pgtos_Baixa_Titulos_a_Pagar]  WITH CHECK ADD  CONSTRAINT [FK_Itens_Pgtos_Baixa_Titulos_a_Pagar] FOREIGN KEY([Cod_Baixa_Titulos_a_Pagar])
REFERENCES [dbo].[Baixa_Titulos_a_Pagar_Pagamentos] ([Cod_Baixa_Titulos_a_Pagar])
GO
ALTER TABLE [dbo].[Itens_Pgtos_Baixa_Titulos_a_Pagar] CHECK CONSTRAINT [FK_Itens_Pgtos_Baixa_Titulos_a_Pagar]
GO
ALTER TABLE [dbo].[Status_Titulo]  WITH CHECK ADD  CONSTRAINT [FK_Status_Titulo_Status_Entrada_Titulos_a_Pagar] FOREIGN KEY([Cod_Status_Titulo])
REFERENCES [dbo].[Status_Titulo] ([Cod_Status_Titulo])
GO
ALTER TABLE [dbo].[Status_Titulo] CHECK CONSTRAINT [FK_Status_Titulo_Status_Entrada_Titulos_a_Pagar]
GO
ALTER TABLE [dbo].[Transferencias]  WITH CHECK ADD  CONSTRAINT [FK_Transferencias_Bancos_Destino] FOREIGN KEY([Conta_Destino_Banco])
REFERENCES [dbo].[Bancos] ([Cod_Banco])
GO
ALTER TABLE [dbo].[Transferencias] CHECK CONSTRAINT [FK_Transferencias_Bancos_Destino]
GO
ALTER TABLE [dbo].[Transferencias]  WITH CHECK ADD  CONSTRAINT [FK_Transferencias_Bancos_Origem] FOREIGN KEY([Conta_Origem_Banco])
REFERENCES [dbo].[Bancos] ([Cod_Banco])
GO
ALTER TABLE [dbo].[Transferencias] CHECK CONSTRAINT [FK_Transferencias_Bancos_Origem]
GO
/****** Object:  StoredProcedure [dbo].[InsertQuery]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertQuery]
(
	@Cod_Titulo_a_Pagar int,
	@Cod_Numero_Parcela_a_Pagar int,
	@Data_Pagamento datetime,
	@Numero_Parcela_Paga numeric(3, 0),
	@Valor_Pago decimal(18, 2),
	@Banco_Debitado int,
	@Numero_Cheque varchar(15),
	@Historico varchar(150),
	@Acrescimos decimal(18, 2),
	@Descontos decimal(18, 2),
	@Saldo decimal(18, 2),
	@Cod_Status_Titulo int,
	@Data_Login datetime,
	@Login_Name varchar(15)
)
AS
	SET NOCOUNT OFF;
INSERT INTO [dbo].[Base_Titulos_Pagos] ([Cod_Titulo_a_Pagar], [Cod_Numero_Parcela_a_Pagar], [Data_Pagamento], [Numero_Parcela_Paga], [Valor_Pago], [Banco_Debitado], [Numero_Cheque], [Historico], [Acrescimos], [Descontos], [Saldo], [Cod_Status_Titulo], [Data_Login], [Login_Name]) VALUES (@Cod_Titulo_a_Pagar, @Cod_Numero_Parcela_a_Pagar, @Data_Pagamento, @Numero_Parcela_Paga, @Valor_Pago, @Banco_Debitado, @Numero_Cheque, @Historico, @Acrescimos, @Descontos, @Saldo, @Cod_Status_Titulo, @Data_Login, @Login_Name);
	
SELECT Cod_Base_Titulos_Pagos, Cod_Titulo_a_Pagar, Cod_Numero_Parcela_a_Pagar, Data_Pagamento, Numero_Parcela_Paga, Valor_Pago, Banco_Debitado, Numero_Cheque, Historico, Acrescimos, Descontos, Saldo, Cod_Status_Titulo, Data_Login, Login_Name FROM Base_Titulos_Pagos WHERE (Cod_Base_Titulos_Pagos = SCOPE_IDENTITY())
GO
/****** Object:  StoredProcedure [dbo].[SelectQueryComNomedoBanco]    Script Date: 10/12/2020 12:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectQueryComNomedoBanco]
AS
	SET NOCOUNT ON;
SELECT        Cod_Base_Titulos_a_Recebidos, Data_Recebimento, Total_Recebido, Banco_Creditado, Historico,                      Data_Login, Login_Name
FROM          Base_Titulos_Recebidos
GO
